name: Pruebas Automáticas C

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Instalar compilador GCC
      run: sudo apt-get install -y gcc

    - name: Compilar el programa
      run: gcc -I. SumarEnterosPR.c -o SumarEnterosPR

    - name: Ejecutar Pruebas Automáticas
      run: |
        echo "Inicio pruebas"
        while IFS='|' read -r entrada esperado resto; do
          # Limpiamos espacios
          entrada=$(echo $entrada | xargs)
          esperado=$(echo $esperado | xargs)
          
          if [ -z "$entrada" ]; then continue; fi
          
          # Capturamos la salida y buscamos el número que va después de "La suma es"
          actual=$(echo $entrada | ./SumarEnterosPR | grep "La suma es" | awk '{print $NF}' | xargs)
          
          if [ "$actual" = "$esperado" ]; then
            echo "---PASA: Salida Correcta para entrada '$entrada'"
          else
            echo "---FALLA: Para entrada '$entrada', se esperaba '$esperado' pero se obtuvo '$actual'"
            exit 1
          fi
        done < SumarEnterosPRTest.txt
        echo "Se pasan todas las pruebas."
